$black: #000;
$lightblack: #353535;
$white: #fff;
$gray: #e6e6e6;
$gray2: #d6d6d6;
$gray3: #c3c3c3;
$darkblue: #070033;
$dimblue: #333042;
$aliceblue: #F0F8FF;
$lightblue: #cce5fd;
$lightblue2: #e8f3fd;
$lightblue3: #c4def6;
$scarlet: #770101;