@import "./_variables.scss";
@import "./_fonts.scss";
@import "./tables.scss";
@import "./loader.scss";
@import "./print.scss";
@import "./theme.scss";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: $aliceblue !important;
  color: $black;
  @include font("primary", 400);
}

.paper {
  background-color: $white;
  border: 1px solid $gray;
  padding: 25px 30px;
  // border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.vh100 {
  height: 100vh;
}

.form-login {
  display: flex;
  flex-direction: column;
  @include font("secondary", 700);

  input {
    @include font("secondary", 400);
    padding: 7px 15px;
    outline: none;
    border: 1px solid $gray;
  }
}

.title-login {
  color: $darkblue;
  @include font("primary", 700)
}

.panel {
  background-color: $white;
  border: 1px solid $gray;
  // border-radius: 5px;
  box-shadow: 3px 5px 4px $gray3;

  .panel-title {
    @include font("primary", 700);
    padding: 10px 20px;
    border-bottom: 1px solid $gray;
    display: flex;
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;

    .panel-options {
      margin-left: auto;
      text-transform: capitalize;

      .kebab-option-icon {
        font-size: 18px;
      }

      a {
        background-color: $white;
        color: $black;
        text-decoration: none;
        border: 0;
        padding: 8px 20px;
        @include font("primary", 400);
        transition: 0.3s;

        &:hover {
          background-color: $gray;
          transition: .3s;
        }
      }
    }
  }

  .panel-body {
    padding: 10px 20px;

  }
}

.form-group.add-report {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  // @include font("secondary", 700);

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    // align-items: center;

    label {
      margin-bottom: 10px;
      margin-right: 15px;
      text-transform: uppercase;
      text-decoration: underline;
      font-weight: 700;
      // @include font("secondary", 700);
    }
  }

  input {
    font-size: 14.6667px;
    padding: 5px 12px;
    outline: none;
    // border-radius: 7px !important;
    border: 1px solid $gray;
  }

  .quill .ql-editor {
    font-size: 14.6667px;
  }
}

.report-group {
  label {
    margin-bottom: 10px;
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: underline;
    @include font("secondary", 700);
  }

  .report-field {
    @include font("secondary", 400);
  }
}

.lds-roller {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: $darkblue;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.search-group {
  display: flex;

  .search-input {
    width: 100%;
    border: 1px solid $gray;
    outline: none;
    padding: 0 15px;
  }

  .search-cancel-btn {
    background-color: $scarlet;
    border-radius: 0;
    border: 0;
    outline: 0;
    border: 1px solid $scarlet;
    color: $white;
    padding: 4px 12px;
    transition: 0.3s;

    &:hover {
      background-color: $white;
      color: $scarlet;
      border: 1px solid $scarlet;
    }
  }

  .search-submit-btn {
    background-color: $darkblue;
    border-radius: 0;
    border: 0;
    outline: 0;
    color: $white;
    padding: 4px 12px;
    border: 1px solid $darkblue;
    transition: 0.3s;

    &:hover {
      background-color: $white;
      color: $darkblue;
      border: 1px solid $darkblue;
    }
  }
}

.mr-1 {
  margin-right: 5px;
}

.report-link {
  color: $black;
  text-decoration: none;
}

.btn-group {
  float: right;

  .btn-action {
    border: none;
    background-color: transparent;

    &.btn-edit {
      color: $darkblue !important;
    }

    &.btn-remove {
      color: $scarlet !important;
    }
  }
}

.mr-3 {
  margin-right: 15px;
}

.font-weight-bold {
  font-weight: 700;
}

// .row-details {
//   border-bottom: 3px solid $black;
// }

.kebab-dropdown {
  &.dropdown-toggle::after {
    // content: "";
    display: none;
    // border: none;
  }

  .kebab-item {
    padding: 13px 25px !important;
  }
}

.ml-auto {
  margin-left: auto;
}

.group-alternate {
  .row-alternate {
    background: $lightblue2;
    padding: 8px 10px;

    &:nth-child(odd) {
      background: $lightblue;
    }
  }
}

.history-log {
  .row-alternate {
    font-weight: 400 !important;

    .active {
      font-weight: 700 !important;
    }
  }
}

.link {
  text-decoration: none;
  color: $darkblue;
  transition: 0.3s;

  .active {
    font-weight: 700 !important;
  }
}

.diff-bl {
  border-left: 2px solid $black;
}

.diff-label {
  font-weight: 700;
  text-transform: uppercase;
}

.card-group {
  display: flex;
  justify-items: center;
  align-items: center;

  .document-card {
    background-color: $white;
    padding: 20px;
    border: 1px solid $gray;
    border-left: 5px solid $green;
    margin-bottom: 10px;
    box-shadow: 3px 5px 4px $gray3;
    align-items: center;
    width: 100%;

    .card-subject {
      font-size: 16px;
      font-weight: 700;
    }

    .card-date,
    .card-author {
      font-size: 12px;
    }

    .card-dropdown {
      justify-self: flex-end;
      display: flex;
      align-items: center;
    }
  }
}

.no-link {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

.card-search {
  display: flex;
  flex-direction: row;
}