.print-page {
  // border: 1px solid black;
  // 297 x 210 mm
  width: 210mm;
  // height: 297mm;
  background-color: $white;
  padding: 15mm 25.4mm;
  font-size: 14.667px;
  // page-break-inside: avoid;

  .header-img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .footer-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .print-header {
    display: flex;
    flex-direction: row;
    @include font("secondary", 700);
    // padding: 0;

  }

  .print-header-label {
    text-transform: uppercase;
    margin-right: 20px;
  }

  .report-group {
    page-break-after: always;
  }

  .print-table {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    @include font("secondary", 700);

    .text-left {
      text-align: left;
    }
  }

  .divider-line {
    border-top: 3px solid $black;
  }

  .report-field {
    text-align: justify;
  }
}

// #document-print {

// }


.print-tb-margin {
  padding: 25.4mm 0;

  .print-img {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #section-to-print,
  #section-to-print * {
    background-color: $white;
    visibility: visible;
  }

  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

// @page {
//   size: A4 portrait;
//   margin: 5% 10%;
//   // page-break-inside: avoid;

//   // * {
//   //   page-break-inside: avoid;
//   // }
// }

@page {
  size: A4 portrait;
  margin: 10mm 20mm;

  table.report-container {
    page-break-after: always;
  }

  thead.report-header {
    display: table-header-group;
  }

  tfoot.report-footer {
    display: table-footer-group;
  }

  .page {
    page-break-after: always;
  }

  .print-hidden {
    visibility: hidden !important;
  }
}

@media print {
  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  .print-hidden {
    visibility: hidden !important;
  }
}

.page-header,
.page-header-space {
  height: 120px;
  display: block;
}

.page-footer,
.page-footer-space {
  height: 120px;
  display: block;
}

.page-footer {
  position: fixed;
  visibility: hidden;
  bottom: 0;
  width: 100%;
}

.page-header {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}