.btn-gray {
  @include font("primary", 400);
  color: $black;
  background-color: $white;
  outline: none !important;
  border: none;
  border-radius: 0;
  transition: 0.3s;

  &:hover,
  &:active,
  &:focus {
    transition: 0.3s;
    border: none;
    outline: none !important;
    background-color: $gray;
    color: $black;
  }
}

.btn-login {
  background-color: $darkblue;
  color: $white;
  @include font("primary", 400);

  &:disabled {
    background-color: $dimblue;
  }
}

.btn-darkblue {
  border: none;
  background-color: $darkblue;
  color: $white;
  font-size: 18px !important;
  transition: 0.3s;
  @include font("primary", 400);

  &:disabled {
    background-color: $dimblue;
  }

  &:hover,
  &:active,
  &:focus {

    border: none;
    outline: none !important;
    background-color: $darkblue2;
    color: $white;
    transition: 0.5s;
  }
}

.btn-teal {
  border: none;
  background-color: $teal;
  color: $white;
  font-size: 18px !important;
  transition: 0.3s;
  @include font("primary", 400);

  &:disabled {
    background-color: $teal3;
  }

  &:hover,
  &:active,
  &:focus {

    border: none;
    outline: none !important;
    background-color: $teal2;
    color: $white;
    transition: 0.5s;
  }
}

.bg-teal {
  background-color: $teal;
  background-image: $teal-gradient;
}

.btn {
  border-radius: 0;
  font-size: 15px !important;
}

.color-black {
  color: $black;
}

.color-white {
  color: $white;
}